<nz-collapse nzAccordion [nzBordered]="false">
  <nz-collapse-panel [nzHeader]="'正常设备'" [nzActive]="true" [ngStyle]="panelStyle">
    <nz-table
      #basicTable
      nzShowSizeChanger
      nzShowQuickJumper
      [nzLoading]="tableLoading"
      [nzData]="pagination.records"
      [(nzPageSize)]="pagination.size"
      (nzPageIndexChange)="changePageOrSize()"
      (nzPageSizeChange)="changePageOrSize(true)">
      <thead>
        <tr>
          <th>序号</th>
          <th>设备ID</th>
          <th>公司</th>
          <th>问题</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipment of basicTable.data, index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ equipment.equipmentId }}</td>
          <td>{{ equipment.owner }}</td>
          <td>{{ equipment.status }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-collapse-panel>
  <nz-collapse-panel [nzHeader]="'异常设备'" [ngStyle]="panelStyle">
    <nz-table
      #basicTable
      nzShowSizeChanger
      nzShowQuickJumper
      [nzLoading]="abnormalTableLoading"
      [nzData]="abnormalPagination.records"
      [(nzPageSize)]="abnormalPagination.size"
      (nzPageIndexChange)="changeAbnormalPageOrSize()"
      (nzPageSizeChange)="changeAbnormalPageOrSize(true)">
      <thead>
        <tr>
          <th>序号</th>
          <th>设备ID</th>
          <th>公司</th>
          <th>问题</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipment of basicTable.data, index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ equipment.equipmentId }}</td>
          <td>{{ equipment.owner }}</td>
          <td>{{ equipment.status }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-collapse-panel>
</nz-collapse>
