<div class="search">
  <div class="search-form">
    <span class="search-label">{{ 'equipment.equipment_status' | translate }}</span>
    <span class="search-input">
      <nz-select style="width: 230px;" [(ngModel)]="selectedStatus" (ngModelChange)="changeStatus($event)">
        <nz-option [nzValue]="''"  [nzLabel]="'equipment.all' | translate"></nz-option>
        <nz-option nzValue="0"  [nzLabel]="'equipment.normal' | translate"></nz-option>
        <nz-option nzValue="1"  [nzLabel]="'equipment.borken_netword' | translate"></nz-option>
        <nz-option nzValue="2"  [nzLabel]="'equipment.fault' | translate"></nz-option>
      </nz-select>
    </span>
  </div>
  <div class="add">
    <button *ngIf="authService.isCanDownEquipmentTemplate()" nzType="primary" nz-button (click)="downloadExcel()">{{ 'equipment.download_excel_template' | translate }}</button>
    <span style="margin-right: 10px;"></span>
    <nz-upload
      *ngIf="authService.isCanUploadEquipment()"
      [nzAction]="''"
      [nzFileType]="'application/vnd.ms-excel'"
      [nzShowUploadList]="false"
      [nzCustomRequest]="uploadExcel">
      <button nz-button nzType="primary">{{ 'equipment.import_equipment' | translate }}</button>
    </nz-upload>
    <span style="margin-right: 10px;"></span>
    <button *ngIf="authService.isCanAddEquipment()" nzType="primary" nz-button (click)="addEquipment()">{{ 'equipment.create_equipment' | translate }}</button>
  </div>
</div>

<nz-table
  #basicTable
  nzShowSizeChanger
  nzShowQuickJumper
  [nzLoading]="tableLoading"
  [nzData]="pagination.records"
  [(nzPageIndex)]="pagination.current"
  [(nzPageSize)]="pagination.size"
  (nzPageIndexChange)="changePageOrSize($event, false)"
  (nzPageSizeChange)="changePageOrSize($event, true)">
  <thead>
    <tr>
      <th>{{ 'index' | translate }}</th>
      <th>{{ 'equipment.equipment_name' | translate }}</th>
      <th>{{ 'equipment.company' | translate }}</th>
      <th>{{ 'equipment.problem' | translate }}</th>
      <th>{{ 'operation' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let equipment of basicTable.data, index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ equipment.equipmentName }}</td>
      <td>{{ equipment.companyName }}</td>
      <td>{{ equipment.detailed }}</td>
      <td>
        <button
          *ngIf="authService.isCanUpdateEquipment()"
          (click)="editEquipment(equipment)"
          nz-button nzType="primary">
          {{ 'edit' | translate }}
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button
          *ngIf="authService.isCanDeleteEquipment()"
          nz-button
          nzType="danger"
          nz-popconfirm
          [nzOkText]="'ok' | translate"
          [nzCancelText]="'cancel' | translate"
          [nzTitle]="'equipment.delete_tip' | translate"
          (nzOnConfirm)="deleteEquipment(equipment)">
          {{ 'delete' | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
