.search {
  height: auto;
  line-height: 40px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}
.item {
  margin-bottom: 30px;
}
.item .title {
  margin-bottom: 10px;
  padding: 0 15px;
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: #fb702f;
  font-size: 16px;
}
.label {
  padding: 4px;
}
.input {
  margin-right: 12px;
}

.table_tr th,td {
  text-align: center;
}