<h3>火币网</h3>

<div class="item">
  <p *ngFor="let account of accounts">
    <span style="margin-right: 20px;">{{'exchange.id' | translate}}：{{ account.id }}</span>
    <span style="margin-right: 20px;">{{'exchange.state' | translate}}：{{ account.state }}</span>
    <span>{{'exchange.type' | translate}}：{{ account.type }}</span>
  </p>

  <!--资产-->
  <div class="title">{{'exchange.assets' | translate}}</div>
  <nz-table #basicTable [nzData]="balancesList" [nzLoading]="balanceTableLoading" [nzShowPagination]="false"
    [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>{{'exchange.symbol' | translate}}</th>
        <th>{{'exchange.balance' | translate}}</th>
        <th>{{'exchange.state' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of basicTable.data">
        <td>{{i.currency}}</td>
        <td>{{i.balance}}</td>
        <td>{{i.type}}</td>
      </tr>
    </tbody>
  </nz-table>
  <div class="pagination">
    <nz-pagination [nzPageIndex]="balancePageIndex" [nzTotal]="balances.length" (nzPageIndexChange)="changeBalanceIndex($event)">
    </nz-pagination>
  </div>
</div>

<!--交易-->
<div class="item">
  <div class="title">{{'exchange.transaction' | translate}}</div>
  <div class="search search-form" style="height:auto;line-height: 40px;">
    <span class="search-input">
      <nz-select #symbol1 style="width: 200px;" nzPlaceHolder="{{'exchange.selectCurrency' | translate}}">
        <nz-option [nzLabel]="'USDT'" [nzValue]="'usdt'"></nz-option>
        <nz-option [nzLabel]="'BTC'" [nzValue]="'btc'"></nz-option>
        <nz-option [nzLabel]="'ETH'" [nzValue]="'eth'"></nz-option>
      </nz-select>
    </span>
    -
    <span class="search-input">
      <nz-select #symbol2 style="width: 200px;" nzPlaceHolder="{{'exchange.selectCurrency' | translate}}">
        <nz-option [nzLabel]="'USDT'" [nzValue]="'usdt'"></nz-option>
        <nz-option [nzLabel]="'BTC'" [nzValue]="'btc'"></nz-option>
        <nz-option [nzLabel]="'ETH'" [nzValue]="'eth'"></nz-option>
      </nz-select>
    </span>
    <span class="search-input">
      <nz-input-number #order_amount style="width: 230px;" [nzStep]="0.1" nzPlaceHolder="{{'exchange.enterNumber' | translate}}"></nz-input-number>
    </span>
    <span class="search-button">
      <button nzType="primary" nz-button (click)="buyMarket(symbol1.value+symbol2.value,order_amount.value)">{{'exchange.buy'
        | translate}}</button>
      <span style="margin-right: 10px;"></span>
      <button nzType="primary" nz-button (click)="sellMarket(symbol1.value+symbol2.value,order_amount.value)">{{'exchange.sell'
        | translate}}</button>
    </span>
    <br />
    <span class="search-input">
      <nz-select style="width: 230px;" nzPlaceHolder="{{'exchange.selectCurrency' | translate}}" [(ngModel)]="selectedCurrencyType1">
        <nz-option *ngFor="let item of currencyType" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
      </nz-select>
    </span>
    <span>-</span>
    <span class="search-input">
      <nz-select style="width: 230px;" nzPlaceHolder="{{'exchange.selectCurrency' | translate}}" [(ngModel)]="selectedCurrencyType2">
        <nz-option *ngFor="let item of currencyType" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
      </nz-select>
    </span>

    <span class="label">{{ 'statistics.company.date_rang' | translate }}</span>
    <span class="input">
      <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd" [(ngModel)]="startTimeValue" [nzPlaceHolder]="'statistics.company.start_time' | translate">
      </nz-date-picker>
      -
      <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd" [(ngModel)]="endTimeValue" [nzPlaceHolder]="'statistics.company.end_time' | translate">
      </nz-date-picker>
    </span>

    <span class="label">{{ 'statistics.asset.size' | translate }}</span>
    <span class="input">
      <nz-input-number style="width: 230px;" [nzStep]="1" [nzMax]="100" nzPlaceHolder="{{'exchange.numberOfFinds' | translate}}"
        [(ngModel)]="sizeNum"></nz-input-number>
    </span>

    <span class="search-button">
      <button nzType="primary" [nzLoading]="transactionTableLoading" nz-button (click)="searchOrders()">
        {{'exchange.search' | translate}}
      </button>
    </span>
  </div>
  <nz-table #orderTable [nzData]="orders" [nzLoading]="transactionTableLoading" [nzPageSize]="10">
    <thead>
      <tr>
        <th>{{'exchange.transactions.id' | translate}}</th>
        <th>{{'exchange.transactions.fieldAmount' | translate}}</th>
        <th>{{'exchange.symbol' | translate}}</th>
        <th>{{'exchange.transactions.amount' | translate}}</th>
        <th>{{'exchange.transactions.type' | translate}}</th>
        <th>{{'exchange.transactions.finishedAt' | translate}}</th>
        <th>{{'exchange.transactions.state' | translate}}</th>
        <th>{{'action' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of orderTable.data">
        <td>{{i.id}}</td>
        <td>{{i.fieldAmount}}</td>
        <td>{{i.symbol}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.type}}</td>
        <td>{{i.finishedAt | date:"yyyy-MM-dd HH:mm:ss ZZZZ"}}</td>
        <td>{{i.state}}</td>
        <td>
          <button *ngIf="i.state==='submitted' || i.state==='partial-filled'" nz-button nzType="primary" [nzLoading]="cancelOrderLoading" (click)="cancelOrder(i.id)">
            {{'exchange.cancel' | translate}}
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<!--提币-->
<div class="item">
  <div class="title">{{'exchange.withdrawals' | translate}}</div>
  <div class="search search-form" style="height:auto;line-height: 40px;">
    <span class="search-input">
      <nz-select #coin style="width: 200px;" nzPlaceHolder="{{'exchange.selectCurrency' | translate}}">
        <nz-option [nzLabel]="'USDT'" [nzValue]="'usdt'"></nz-option>
        <nz-option [nzLabel]="'BTC'" [nzValue]="'btc'"></nz-option>
        <nz-option [nzLabel]="'ETH'" [nzValue]="'eth'"></nz-option>
      </nz-select>
    </span>
    <span class="search-input">
      <nz-input-number #drawal_amount style="width: 230px;" [nzStep]="0.1" nzPlaceHolder="{{'exchange.enterNumber' | translate}}"></nz-input-number>
    </span>
    <span class="search-input">
      <input #address nz-input style="width: 350px" placeholder="{{'exchange.walletAddress' | translate}}">
    </span>
    <span class="search-button">
      <button nzType="primary" nz-button (click)="withdrawal(coin.value,drawal_amount.value,address.value)">{{'exchange.extract'
        | translate}}</button>
    </span>
  </div>

  <div class="search search-form" style="height:auto;line-height: 40px;">
    <span class="label">{{ 'statistics.asset.currency' | translate }}</span>
    <span class="input">
      <nz-select #coinW style="width: 230px;" nzPlaceHolder="{{'exchange.selectCurrency' | translate}}" [(ngModel)]="selectedCurrencyW">
        <nz-option [nzLabel]="'USDT'" [nzValue]="'usdt'"></nz-option>
        <nz-option [nzLabel]="'BTC'" [nzValue]="'btc'"></nz-option>
        <nz-option [nzLabel]="'ETH'" [nzValue]="'eth'"></nz-option>
      </nz-select>
    </span>

    <span class="label">{{ 'statistics.asset.start_id' | translate }}</span>
    <span class="input">
      <nz-input-number #fromW style="width: 230px;" [nzStep]="1" nzPlaceHolder="{{'exchange.enterStartId' | translate}}"
        [(ngModel)]="fromNumW"></nz-input-number>
    </span>

    <span class="label">{{ 'statistics.asset.size' | translate }}</span>
    <span class="input">
      <nz-input-number #sizeW style="width: 230px;" [nzStep]="1" [nzMax]="100" nzPlaceHolder="{{'exchange.numberOfFinds' | translate}}"
        [(ngModel)]="sizeNumW"></nz-input-number>
    </span>

    <span class="search-button">
      <button nz-button nzType="primary" [nzLoading]="withdrawalsTableLoading" (click)="withdrawalsSearch(coinW.value,fromW.value,sizeW.value)">
        {{ 'search' | translate }}
      </button>
    </span>
  </div>

  <nz-table #withdrawalsTable [nzLoading]="withdrawalsTableLoading" [nzData]="withdrawalsList">
    <thead>
      <tr class="table_tr">
        <th style="min-width: 100px;">{{ 'statistics.asset.id' | translate }}</th>
        <th>{{ 'statistics.asset.address' | translate }}</th>
        <th style="min-width:60px">{{ 'statistics.asset.amount' | translate }}</th>
        <th>{{ 'statistics.asset.created_at' | translate }}</th>
        <th style="min-width:60px">{{ 'statistics.asset.currency' | translate }}</th>
        <th style="min-width:60px">{{ 'statistics.asset.fee' | translate }}</th>
        <th style="min-width:60px">{{ 'statistics.asset.state' | translate }}</th>
        <!--<th>{{ 'statistics.asset.tx_hash' | translate }}</th>-->
        <th>{{ 'statistics.asset.updated_at' | translate }}</th>
        <th>{{ 'action' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table_tr" *ngFor="let statistics of withdrawalsTable.data, index as i">
        <td>{{statistics.id }}</td>
        <td>{{statistics.address }}</td>
        <td>{{statistics.amount}}</td>
        <td>{{statistics.createdAt | date:"yyyy-MM-dd HH:mm:ss ZZZZ"}}</td>
        <td>{{statistics.currency}}</td>
        <td>{{statistics.fee}}</td>
        <td>{{statistics.state}}</td>
        <!--<td>{{statistics.txHash}}</td>-->
        <td>{{statistics.updatedAt | date:"yyyy-MM-dd HH:mm:ss ZZZZ"}}</td>
        <td>
          <button *ngIf="i.state==='submitted' || i.state==='reexamine'" nz-button nzType="primary" [nzLoading]="cancelWithdrawalsLoading" (click)="cancelWithdraw(statistics.id)">
            {{'exchange.cancel' | translate}}
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>