<div class="login-wrap" *ngIf="!loginStatus">
  <div class="login" nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
    <div style="width:380px">
      <h1>{{ 'system_title' | translate }}</h1>

      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-user">
              <input type="text" nz-input formControlName="username" [placeholder]="'login.username' | translate">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('username').dirty && validateForm.get('username').errors">{{
              'login.username_input_tip' | translate }}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-lock">
              <input type="password" nz-input formControlName="password" [placeholder]="'login.password' | translate">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">
              {{ 'login.password_input_tip' | translate }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <div style="width:calc(100% - 80px);float: left;line-height: 32px">
              <nz-input-group nzPrefixIcon="anticon anticon-edit">
                <input type="text" id="captcha" nz-input formControlName="captcha" [placeholder]="'login.code' | translate"
                  AUTOCOMPLETE="off">
              </nz-input-group>
            </div>
            <div style="width:80px;float: right;line-height: 26px;" (click)="refresh()">
              <nz-skeleton [nzLoading]="loading"><img [src]='codeImg' /></nz-skeleton>
            </div>
            <nz-form-explain *ngIf="validateForm.get('captcha').dirty && validateForm.get('captcha').errors">{{
              'login.code_input_tip' | translate }}</nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button" style="width:100%" [nzType]="'primary'">{{ 'login.login' |
              translate }}</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <div style="text-align:center;width:100vw;position: absolute; bottom: 0;">
      <p>广州蚁矿智能装备有限公司Guangzhou Ant Mine Smart Machine Co.,Ltd- 版权所有2018</p>
    </div>
  </div>
</div>