<form nz-form [formGroup]="companyForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>公司全称</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="companyFullName">
      <nz-form-explain *ngIf="companyForm.get('companyFullName').dirty && companyForm.get('companyFullName').errors">请输入公司全称!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">公司简称</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="companyShortName">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">公司地址</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="address">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">联系人</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="contact">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">联系电话</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="phone">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>邮箱</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="email">
      <nz-form-explain *ngIf="companyForm.get('email').dirty && companyForm.get('email').errors">请输入公司邮箱!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>端口</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <nz-input-number formControlName="port"></nz-input-number>
      <nz-form-explain *ngIf="companyForm.get('port').dirty && companyForm.get('port').errors">请输入正确的端口号!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="10" [nzOffset]="4">
      <div nz-row>
        <div nz-col nzSpan="5">
          <button nz-button nzType="primary" [nzLoading]="isSaving">保存</button>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
