<form nz-form [formGroup]="companyForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>{{ 'company.company_full_name' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="companyFullName">
      <nz-form-explain *ngIf="companyForm.get('companyFullName').dirty && companyForm.get('companyFullName').errors">{{ 'company.company_full_name_tip' | translate }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">{{ 'company.company_short_name' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="companyShortName">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">{{ 'company.address' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="address">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">{{ 'company.contact' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="contact">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">{{ 'company.phone' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="phone">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>{{ 'company.email' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="email">
      <nz-form-explain *ngIf="companyForm.get('email').dirty && companyForm.get('email').errors">{{ 'company.email_tip' | translate }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>{{ 'company.port' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <nz-input-number formControlName="port"></nz-input-number>
      <nz-form-explain *ngIf="companyForm.get('port').dirty && companyForm.get('port').errors">{{ 'company.port_tip' | translate }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="10" [nzOffset]="4">
      <div nz-row>
        <div nz-col nzSpan="5">
          <button nz-button nzType="primary" [nzLoading]="isSaving">{{ 'save' | translate }}</button>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
