<div class="search">
  <div class="search-form">
    <span class="search-label" style="margin: auto 16px;">{{ 'company.company_name' | translate }}</span>
    <span class="search-input"><input nz-input [(ngModel)]="companyName"></span>
    <span class="search-button"><button nz-button nzType="primary" (click)="searchCompany()">{{ 'search' | translate }}</button></span>
  </div>
  <div class="add" *ngIf="authService.isCanAddCompany()">
    <button nz-button nzType="primary" routerLink="/dashboard/add-company">{{ 'company.create_company' | translate }}</button>
  </div>
</div>

<nz-table
  #basicTable
  [nzShowPagination] = "false"
  [nzLoading]="tableLoading"
  [nzData]="pagination.records"
>
  <thead>
    <tr>
      <th>{{ 'index' | translate }}</th>
      <th>{{ 'company.company_name' | translate }}</th>
      <th>{{ 'company.contact' | translate }}</th>
      <th>{{ 'company.phone' | translate }}</th>
      <th>{{ 'operation' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of basicTable.data, index as i">
      <td>{{ i + 1 }}</td>
      <td>{{company.companyFullName}}</td>
      <td>{{company.contact}}</td>
      <td>{{company.phone}}</td>
      <td>
        <button
          *ngIf="authService.isCanUpdateCompany()"
          nz-button
          nzType="primary"
          (click)="editCompany(company)">
          {{ 'edit' | translate }}
        </button>
        <nz-divider *ngIf="authService.isCanUpdateCompany()" nzType="vertical"></nz-divider>
        <button
        *ngIf="authService.isCanDeleteCompany()"
          nz-button
          nzType="danger"
          nz-popconfirm
          [nzOkText]="'ok' | translate"
          [nzCancelText]="'cancel' | translate"
          [nzTitle]="'company.delete_company_tip' | translate"
          (nzOnConfirm)="deleteCompany(company)">
          {{ 'delete' | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-pagination *ngIf="!tableLoading"   nzShowSizeChanger
nzShowQuickJumper [(nzPageIndex)]="pagination.current" [nzTotal]="pagination.total"   [(nzPageSize)]="pagination.size"
(nzPageIndexChange)="changePageOrSize(false)"
(nzPageSizeChange)="changePageOrSize(true)"   [nzPageSizeOptions] = "pageSizeOptions" style="float:right"></nz-pagination>
