<div class="search" *ngIf="authService.isCanAddRole()">
  <div class="add">
    <button nz-button nzType="primary" routerLink="/dashboard/add-role">{{ 'role.create_role' | translate }}</button>
  </div>
</div>

<nz-table
  #basicTable
  nzShowSizeChanger
  nzShowQuickJumper
  [nzLoading]="tableLoading"
  [nzData]="pagination.records"
  [(nzPageSize)]="pagination.size"
  (nzPageIndexChange)="changePageOrSize($event)"
  (nzPageSizeChange)="changePageOrSize($event, true)">
  <thead>
    <tr>
      <th>{{ 'index' | translate }}</th>
      <th>{{ 'role.role_name' | translate }}</th>
      <th>{{ 'operation' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let role of basicTable.data, index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ role.roleName }}</td>
      <td>
        <button
          *ngIf="authService.isCanUpdateRole()"
          nz-button
          nzType="primary"
          (click)="editRole(role)">{{ 'edit' | translate }}</button>
        <nz-divider *ngIf="authService.isCanUpdateRole()" nzType="vertical"></nz-divider>
        <button
          *ngIf="authService.isCanDeleteRole()"
          nz-button
          nzType="danger"
          nz-popconfirm
          [nzOkText]="'ok' | translate"
          [nzCancelText]="'cancel' | translate"
          [nzTitle]="'role.delete_role_tip' | translate"
          (nzOnConfirm)="deleteRole(role)">
          {{ 'delete' | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
