<div class="search">
  <div class="search-form">
    <span class="label">{{ 'statistics.company.date_rang' | translate }}</span>
    <span class="input">
      <nz-date-picker [nzDisabledDate]="disabledStartDate" [nzStyle]="{width:'180px'}" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
        [(ngModel)]="startTimeValue" [nzPlaceHolder]="'statistics.company.start_time' | translate">
      </nz-date-picker>
      -
      <nz-date-picker [nzDisabledDate]="disabledEndDate" [nzStyle]="{width:'180px'}" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
        [(ngModel)]="endTimeValue" [nzPlaceHolder]="'statistics.company.end_time' | translate">
      </nz-date-picker>
    </span>
    <span class="label" *ngIf="authService.isAdmin()">{{ 'statistics.company.company' | translate }}</span>
    <span class="input" *ngIf="authService.isAdmin()">
      <nz-select style="width: 230px;" [(ngModel)]="selectedCompany">
        <nz-option *ngFor="let company of companies" [nzValue]="company.id" [nzLabel]="company.companyFullName">
        </nz-option>
      </nz-select>
    </span>
    <span class="button">
      <button nz-button nzType="primary" [nzLoading]="tableLoading" (click)="search()">{{ 'search' | translate }}</button>
    </span>
  </div>
</div>

<nz-table #basicTable [nzShowPagination]="false" [nzLoading]="tableLoading" [nzData]="statisticsList">
  <thead>
    <tr>
      <th>{{ 'index' | translate }}</th>
      <th>{{ 'statistics.company.transaction_type' | translate }}</th>
      <th>{{ 'statistics.company.num_of_transactions' | translate }}</th>
      <th>{{ 'statistics.company.transaction_num' | translate }}</th>
      <th>{{ 'statistics.company.coin_type' | translate }}</th>
      <th>{{ 'statistics.company.transaction_amount' | translate }}</th>
      <th>{{ 'statistics.company.currency_type' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let statistics of basicTable.data, index as i">
      <td>{{ i + 1 }}</td>
      <td>{{statistics.transactionType | transactionType }}</td>
      <td>{{statistics.numOfTransactions}}</td>
      <td>{{statistics.transactionNum}}</td>
      <td>{{statistics.coinType}}</td>
      <td>{{statistics.transactionAmount}}</td>
      <td>{{statistics.currencyType}}</td>
    </tr>
  </tbody>
</nz-table>