<nz-layout class="layout" *ngIf="loginStatus">
  <nz-header>
    <div nz-row>
      <div nz-col nzSpan="8">
        <h1 class="title">ATM数字资产兑换系统</h1>
      </div>
      <div nz-col nzOffset="10" nzSpan="6">
        <div nz-row>
          <div nz-col nzSpan="8">
            <nz-select style="width: 100px;" [ngModel]="'zh'">
              <nz-option nzValue="zh" nzLabel="简体中文"></nz-option>
              <nz-option nzValue="en" nzLabel="English"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="8" nzOffset="2">
            <nz-dropdown-button>
              {{ authService.user.username }}
              <ul nz-menu>
                <li nz-menu-item (click)="openDialog()">修改密码</li>
                <li nz-menu-item (click)="loginOut()">退出</li>
              </ul>
            </nz-dropdown-button>
          </div>
        </div>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="240" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height: calc(100vh - 64px)" [nzTheme]="'dark'">
        <li nz-menu-item routerLink="/home"><i class="anticon anticon-home"></i>首页</li>
        <li nz-submenu [nzOpen]="true">
          <span title><i class="anticon anticon-desktop"></i>设备管理</span>
          <ul>
            <li nz-menu-item>设备列表</li>
          </ul>
        </li>
        <li nz-submenu [nzOpen]="true">
          <span title><i class="anticon anticon-laptop"></i>交易管理</span>
          <ul>
            <li nz-menu-item>交易流水</li>
          </ul>
        </li>
        <li nz-submenu [nzOpen]="true">
          <span title><i class="anticon anticon-setting"></i>系统管理</span>
          <ul>
            <li *ngIf="authService.isCanShowCompanyList()" nz-menu-item routerLink="/company-management">公司管理</li>
            <li *ngIf="authService.isCanShowRoleList()" nz-menu-item routerLink="/role-management">角色管理</li>
            <li *ngIf="authService.isCanShowUserList()" nz-menu-item routerLink="/account-management">账号管理</li>
            <li nz-menu-item routerLink="/customer-service">在线客服</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding: 15px">
      <nz-content style="background:#fff; padding: 15px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>

<div class="login-wrap" *ngIf="!loginStatus">
  <div class="login" nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
    <div nz-col nzSpan="6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isShowChangePswDialog"
  nzTitle="修改密码"
  (nzOnCancel)="closeDialog()"
  (nzOnOk)="changePassword()"
  [nzOkLoading]="isSaving">
  <form nz-form [formGroup]="changePswForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>原密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input type="password" nz-input formControlName="oldPassword">
        <nz-form-explain *ngIf="changePswForm.get('oldPassword').dirty && changePswForm.get('oldPassword').errors">请输入原密码!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>新密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input type="password" nz-input formControlName="newPassword">
        <nz-form-explain *ngIf="changePswForm.get('newPassword').dirty && changePswForm.get('newPassword').errors">请输入新密码!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
