<div class="search">
  <div class="search-form">
    <span class="search-label">{{ 'trading.transaction_flow_number' | translate }}</span>
    <span class="search-input"><input nz-input [(ngModel)]="transactionId"></span>
    <span class="search-button"><button nz-button nzType="primary" (click)="searchTradingRecord()">{{ 'search' | translate }}</button></span>
  </div>
  <div class="add">
    <button (click)="exportExcel()" nzType="primary" nz-button>{{ 'trading.export_excel' | translate }}</button>
  </div>
</div>

<nz-table
  #basicTable
  nzShowSizeChanger
  nzShowQuickJumper
  [nzLoading]="tableLoading"
  [nzData]="pagination.records"
  [(nzPageSize)]="pagination.size"
  (nzPageIndexChange)="changePageOrSize($event)"
  (nzPageSizeChange)="changePageOrSize($event, true)">
  <thead>
    <tr>
      <th>{{ 'index' | translate }}</th>
      <th>{{ 'equipment.equipment_name' | translate }}</th>
      <th>{{ 'trading.transaction_flow_number' | translate }}</th>
      <th>{{ 'trading.number_of_transaction' | translate }}</th>
      <th>{{ 'trading.coin_type' | translate }}</th>
      <th>{{ 'trading.transaction_amount' | translate }}</th>
      <th>{{ 'trading.transaction_currency' | translate }}</th>
      <th>{{ 'trading.transaction_type' | translate }}</th>
      <th>{{ 'trading.transaction_time' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trading of basicTable.data, index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ trading.equipmentName }}</td>
      <td>{{ trading.transactionId }}</td>
      <td>{{ trading.transactionNum }}</td>
      <td>{{ trading.coinType }}</td>
      <td>{{ trading.currentPrice }}</td>
      <td>{{ trading.currency }}</td>
      <td>{{ trading.transactionType | transactionType }}</td>
      <td>{{ trading.transactionTime | date: 'yyyy-MM-dd HH:SS:ss' }}</td>
    </tr>
  </tbody>
</nz-table>
