<form nz-form [formGroup]="equipmentForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>{{ 'equipment.equipment_id' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="equipmentId">
      <nz-form-explain *ngIf="equipmentForm.get('equipmentId').dirty && equipmentForm.get('equipmentId').errors">{{ 'equipment.equipment_id_tip' | translate }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>{{ 'equipment.equipment_name' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="equipmentName">
      <nz-form-explain *ngIf="equipmentForm.get('equipmentName').dirty && equipmentForm.get('equipmentName').errors">{{ 'equipment.equipment_name_tip' | translate }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">{{ 'equipment.equipment_address' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="address">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>{{ 'equipment.amount_of_cash' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="amountOfCash">
      <nz-form-explain *ngIf="equipmentForm.get('amountOfCash').dirty && equipmentForm.get('amountOfCash').errors">{{ 'equipment.amount_of_cash_tip' | translate }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>{{ 'equipment.company' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <nz-select style="width: 230px;" formControlName="owner">
        <nz-option
          *ngFor="let company of companies"
          [nzValue]="company.id"
          [nzLabel]="company.companyFullName">
        </nz-option>
      </nz-select>
      <nz-form-explain *ngIf="equipmentForm.get('owner').dirty && equipmentForm.get('owner').errors">{{ 'equipment.company_tip' | translate }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>{{ 'equipment.high_threshold' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="highThreshold">
      <nz-form-explain *ngIf="equipmentForm.get('highThreshold').dirty && equipmentForm.get('highThreshold').errors">{{ 'equipment.high_threshold_tip' | translate }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>{{ 'equipment.low_threshold' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="lowThreshold">
      <nz-form-explain *ngIf="equipmentForm.get('lowThreshold').dirty && equipmentForm.get('lowThreshold').errors">{{ 'equipment.low_threshold_tip' | translate }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>{{ 'equipment.maximum_cash_amount' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="maximumCashAmount">
      <nz-form-explain *ngIf="equipmentForm.get('maximumCashAmount').dirty && equipmentForm.get('maximumCashAmount').errors">{{ 'equipment.maximum_cash_amount_tip' | translate }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>{{ 'equipment.serial_number' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input formControlName="serialNumber">
      <nz-form-explain *ngIf="equipmentForm.get('serialNumber').dirty && equipmentForm.get('serialNumber').errors">{{ 'equipment.serial_number_tip' | translate }}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="10" [nzOffset]="4">
      <div nz-row>
        <div nz-col nzSpan="5">
          <button nz-button nzType="primary" [nzLoading]="isSaving">{{ 'save' | translate }}</button>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
